@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #555;
  background: linear-gradient(45deg, #b62b10 30%, #222);
  background: #d8e3ff;
  padding: 4rem;
}

#app {
  background: rgba(255, 255, 255, 0.9);
  padding: 4rem;
}

.calendar > .title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
  color: #222;
}
.calendar > .title > * {
  display: inline;
}
.calendar .days {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}
.calendar .days > .day.outside {
  display: none;
}
.calendar .days > .day.empty {
  display: none;
}
.calendar .days .events {
  margin-bottom: 1rem;
}
.calendar .days .events .event {
  box-sizing: border-box;
  line-height: 1;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(182, 43, 16, 0.05);
  color: #b62b10;
  padding: 0.25rem 0.5rem;
  margin-bottom: 2px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.calendar .days .events .event:hover, .calendar .days .events .event:focus {
  background: rgba(182, 43, 16, 0.1);
}
.calendar .days .events .event:active {
  color: white;
  background: #b62b10;
}
.calendar .days .date {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.calendar .days .date:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
  opacity: 0.5;
}
.calendar .days .date > * {
  display: inline-block;
}
.calendar .days .date .weekday {
  font-weight: 400;
  color: #b62b10;
  text-transform: uppercase;
}
.calendar .days .date .weekday:after,
.calendar .days .date .day:after {
  content: ",";
}

@media (min-width: 1024px) {
  .calendar {
    border-bottom: 2px solid #b62b10;
  }
  .calendar .days {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .calendar .days > .day {
    position: relative;
    font-size: 0.75rem;
    margin-bottom: 0;
    padding: 0 0 15% 0;
    width: 14.2857142857%;
    flex-shrink: 0;
  }
  .calendar .days > .day:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0.5rem;
    top: 0;
    height: 1px;
    background: currentColor;
    opacity: 0.5;
  }
  .calendar .days > .day .date {
    position: absolute;
    top: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .calendar .days > .day .date:after {
    display: none;
  }
  .calendar .days > .day .date .weekday,
.calendar .days > .day .date .month,
.calendar .days > .day .date .year {
    display: none;
  }
  .calendar .days > .day .date .day:after {
    content: "";
  }
  .calendar .days > .day.outside {
    display: inline-block;
  }
  .calendar .days > .day.outside:before {
    opacity: 0.125;
  }
  .calendar .days > .day.outside .date .day {
    opacity: 0.5;
  }
  .calendar .days > .day.empty {
    display: inline-block;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) {
    margin-top: 2rem;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7):before {
    opacity: 1;
    height: 2px;
    background: #b62b10;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date {
    width: 100%;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date .weekday {
    display: block;
    position: absolute;
    top: -3rem;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 300;
    color: #b62b10;
    text-overflow: ellipsis;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date .weekday:after {
    content: "";
  }
  .calendar .days > .day .events {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 2.5rem;
    padding-right: 0.5rem;
    overflow: auto;
  }
  .calendar .days > .day .events .event {
    box-sizing: border-box;
    line-height: 1;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(182, 43, 16, 0.05);
    color: #b62b10;
    padding: 0.25rem 0.5rem;
    margin-bottom: 2px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .calendar .days > .day .events .event:hover, .calendar .days > .day .events .event:focus {
    background: rgba(182, 43, 16, 0.1);
  }
  .calendar .days > .day .events .event:active {
    color: white;
    background: #b62b10;
  }
}