.fa-youtube {
    color: rgb(0, 0, 0);
    float: right;
    margin-bottom: -20px;
    
  }
  
  .fa-instagram {
    color: rgb(0, 0, 0);
    float: right;
    margin-bottom: -20px;
  }

.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .buttoncg {
    background-color: white;
    color: black;
    float: right;
  }
  .buttoncg:hover {background-color: #e7e7e7;}

  .buttonwg {
    background-color: white;
    color: black;
    float: right;
  }
  .buttonwg:hover {background-color: #e7e7e7;}
    
  .buttoncalendar {
    background-color: white;
    color: black;
    float: right;
  }
  .buttoncalendar:hover {background-color: #e7e7e7;}
  
  .buttoncontact {
    background-color: white;
    color: black;
    float: right;
  }

  .buttoncontact:hover {background-color: #e7e7e7;}


h3 {
    font-family: cursive;
    font-size: 4em;
    text-align: center;
    margin-bottom: -5px;
    margin-top: 30px;
}
.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-decoration: none;
    margin: 5px 15px;
    display: block;
  }
  
    
.mySlides {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 100px;
}
/* The dots/bullets/indicators */
.dot {

    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: auto;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#scroll-container {
    border: 1px solid black;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #d3dbff;
    opacity: 0.7;
    }

    #scroll-text {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

  
      /* animation properties */
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);

      -moz-animation: my-animation 25s linear infinite;
      -webkit-animation: my-animation 25s linear infinite;
      animation: my-animation 25s linear infinite;
    }


    /* for Chrome */
    @-webkit-keyframes my-animation {
      from { -webkit-transform: translateX(100%); }
      to { -webkit-transform: translateX(-100%); }
    }

    @keyframes my-animation {
      from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
 